<h2 class="page-header">Search Systems</h2>
<form class="form-item" id="form-item-system" action="/systems" method="GET">
    <label>Name</label>
    <input type="text" name="name">
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary system-row" type="submit">Search</button>
    </div>
</form>
<br>

<% systems.forEach(system=>{ %>
    <div>
        <%= system.name%>

    </div>
    </div>
    <% })%>