<h2 class="page-header">New System</h2>
<form action="/systems" method="POST">
    <%- include("_form_fields") %>
        <div class="form-row form-row-end btn-row">
            <a class="btn btn-danger" href="/systems">Cancel</a>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
</form>