<header>
    <nav>
        <a href="/">RPG Systems</a>
        <ul>
            <li><a href="/systems">Systems</a></li>
            <li><a href="/systems/new">Add System</a></li>
        </ul>
    </nav>
</header>