<header>
    <nav class="header-nav">
        <a class="header-title" href="/">RPG Systems</a>
        <ul>
            <li><a href="/systems">Systems</a></li>
            <li><a href="/systems/new">Add System</a></li>
            <li><a href="/editions">Editions</a></li>
            <li><a href="/editions/new">Add Edition</a></li>
        </ul>
    </nav>
</header>