<h2 class="page-header">Search Editions</h2>
<form action="/editions" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Title</label>
            <input type="text" name="title">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>System</label>
            <input type="text" name="system">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Edition</label>
            <input type="number" name="version">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<div>
    <% editions.forEach(edition=>{ %>

        <img height="150" width="100" src="<%= edition.coverImagePath%>">

        <% })%>
</div>