<h2 class="page-header">New Edition</h2>
<form action="/editions" method="POST" enctype="multipart/form-data">
    <%- include ("_form_fields") %>
        <div class="form-row form-row-end btn-row">
            <a class="btn btn-danger" href="/editions">Cancel</a>
            <button class="btn btn-primary" type="submit">Create</button>
</form>
<div>
    </form>